@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --homeBackground: #fef7e8;
  --contactBackground: #c6dbe8;
  --homeMenuBackground: #F8C663;
  --contactMenuBackground: #669BBC;
  --activeMenuBackground: var(--homeMenuBackground);
  --activeBackground: var(--homeBackground);
}

.home-theme {
  --activeBackground: var(--homeBackground);
  --activeMenuBackground: var(--homeMenuBackground);
}

.contact-theme {
  --activeBackground: var(--contactBackground);
  --activeMenuBackground: var(--contactMenuBackground);
}
